.links {
    margin: 15px;
    display: flex;
    padding-right: 10px;
    .link {
        padding: 10px;
    }
}
.gallery {
    display: flex;
    flex-wrap: wrap; 
    .pics {
        -webkit-transition: all 350ms ease;
        transition: all 350ms ease; 
        display: block;
        max-width: 100%;
        height: auto;
    }
    .caption {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .gallery-link {
            margin: 10px;
        }
    }
}