@import "bootstrap";
@import "font-awesome";
@import "./albums.scss";
.container{
    max-width: 1000px;
  }
.navbar{
  border-bottom: 1px solid rgba(0,0,0,.0975);
}
.user-section{
  a{
    padding-left: 15px;
  }
  i.fa{
    font-size: 22px;
    color: #000000d4;
  }
}
.search-form{
  input{
    font-size: 13px;
    text-align: center;
  }
}
.footer{
  font-size: 12px;
  padding-top: 30px;
  p{
    color: #999;
  }
}

.homepage{
  .form-upload{
    border: 1px solid #dbdbdb;
    height: auto;
    margin: 30px 180px;
    padding: 30px;
    border-radius: 3px;
  }

  .albums{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px;
      .album{   
        width: 280px;
        height: 280px;
        margin: 15px;  
        margin-bottom: 100px; 
        .metadata{
          border-bottom: 1px solid #efefef;
          display: flex;
          justify-content: space-between;
          .date{
            padding-top: 13px;
            color: #262626;
            font-size: 14px;
            font-weight: 600;
          }
        }
        .main-image{
          border-radius: 4%;
          width: 278px;
          height: 278px;
          object-fit: cover;
          border: 1px solid #efefef;
        }
        .description{
          padding: 20px;
        }
      }
  }
}